.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: #000000;
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
  padding: 15px;
  font-size: large;
  color: white;
}

.buttons{
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.App-header2 {
  background: #b7d3d3;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15;
  padding: 5px;
  font-size: 15px;
}
.App-box {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  left: 20px;
  width: 250px;
  height: 250px;
  font-size: 13px;
  border-color: rgb(255, 255, 255);
  border-style: outset;
  border-width: 1px;
  margin-bottom: 10;
  background: white;
  resize: both;
  overflow: auto;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 2;
  margin: 20px auto;
}
img.resize {
  width: 150px; /* you can use % */
  height: auto;
}

.App-link {
  color: #61dafb;
}

.category {
  background: #fffffff3;
  display: flex;
  align-items: left;
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 15px;
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
